<div class="video-section--custom">
    <video autoplay muted>
        <source src="{{ section.settings.custom_video_url }}" type="video/mp4">
    </video>
</div>

{% schema %}
{
  "name": "Custom Video",
  "tag": "section",
  "class": "video-section--custom",
  "settings": [
    {
        "type": "text",
        "id": "custom_video_url",
        "label": "Video Url"
    }
  ],
  "presets": [
      {
          "name": "Custom Video"
      }
  ]
}
  {% endschema %}
