<div class="ha-slider ha-slider-614959c523563 " data-slider="614959c523563" > </div>

{% schema %}
  {
    "name": "Slider",
    "settings": [
        {
            "type": "image_picker",
            "id": "slideOne",
            "label": "Slide 1"
        },
        {
            "type": "image_picker",
            "id": "slideTwo",
            "label": "Slide 2"
        },
        {
            "type": "image_picker",
            "id": "slideThree",
            "label": "Slide 3"
        }                
    ],
    "presets": [
        {
            "name": "Slider"
        }
    ]
  }
{% endschema %}