{{ 'section-video-hero.css' | asset_url | stylesheet_tag }}

<div class="video-hero-section--custom">
    <video class="video-hero--main" autoplay muted>
        <source src="{{ section.settings.custom_video_url }}" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <img class="video-hero--fallback-img" src="{{ section.settings.fallback_img | img_url: 'master' }}" alt="{{ section.settings.fallback_alt }}">
</div>

{% schema %}
{
  "name": "Video Hero",
  "tag": "section",
  "class": "video-hero-section--custom",
  "settings": [
    {
        "type": "text",
        "id": "custom_video_url",
        "label": "Video Url"
    },
    {
      "type": "image_picker",
      "id": "fallback_img",
      "label": "Mobile Image"
    },
    {
      "type": "text",
      "id": "fallback_alt",
      "label": "Image Alt Text"
    }
  ],
  "presets": [
      {
          "name": "Video Hero"
      }
  ]
}
{% endschema %}