<div class="video-section--custom">
    <video autoplay muted>
        <source src="{{ section.settings.custom_video_url }}" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <img src="{{ section.settings.fallback_img | img_url }}" alt="{{ section.settings.fallback_alt }}">
</div>

{% schema %}
{
  "name": "Custom Video",
  "tag": "section",
  "class": "video-section--custom",
  "settings": [
    {
        "type": "text",
        "id": "custom_video_url",
        "label": "Video Url"
    },
    {
      "type": "image_picker",
      "id": "fallback_img",
      "label": "Mobile Image"
    },
    {
      "type": "text",
      "id": "fallback_alt",
      "label": "Image Alt Text"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
