video {
    width: 100%    !important;
    height: auto   !important;
}

@media screen and (min-width: 578px) {
    .video-hero--fallback-img {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .video-hero--fallback-img {
        display: block;
        height: auto;
        width: 100%;
    }

    .video-hero--main {
        display: none;
    }
}